/*
Style sheet for the code editor with syntax highlighting
*/

#editing, #highlighting {
    /* Both elements need the same text and space styling so they are directly on top of each other */
    margin: 10px;
    padding: 10px;
    border: 0;
    width: 50vh;
    height: 80vh;
    position: absolute;
    top: 70px;
    left: 0;
    overflow: scroll;
    white-space: nowrap; /* Allows textarea to scroll horizontally */
}

#editing, #highlighting, #highlighting * {
    /* Also add text styles to highlighting tokens */
    font-size: 15pt;
    font-family: monospace;
    line-height: 20pt;
}

#editing {
    z-index: 1;
    color: transparent;
    background: transparent;
    caret-color: white;
    resize: none;
}

#highlighting {
    z-index: 0;
}
